/* Button */
/* main */

/* Main Section Styles */
#main {
    padding: 2em 1em;
    background: #a0d6ff;
    cursor: default;
    max-width: 100%;
    text-align: center;
    width: 38em;
    color: #002a61;
    /*font-family: NectoMono;*/
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border: 2px solid #002a61;
    border-radius: 30px;
    -webkit-filter: drop-shadow(2px 2px 0px #002a61);
    filter: drop-shadow(4px 4px 0px #002a61);
    box-sizing: border-box;
    /* Include padding and border in width calculation */

}

#main.horizontal {
    padding: 2em 2em;
    width: 100%;
    /* Take full width in horizontal layout */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    /* Prevent horizontal overflow */
    overflow-y: hidden;
    /* Prevent vertical overflow */
}

#main img {
    display: block;
    /* Ensures the image is treated as a block-level element */
    width: 90%;
    /* Sets the image width to 90% of the container's width */
    margin: 0 auto;
    /* Centers the image horizontally */
}

@media screen and (max-width: 800) {
    #main {
        padding: 0em 2em 2.5em 2em;
        width: 100%;
    }
}

#main.dark-mode title {
    color: rgb(255, 255, 255);
    border-bottom: solid 2px white;
}

#main.dark-mode a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

#main.dark-mode h1 {
    color: rgb(255, 255, 255);
    border-bottom: solid 2px white;
}

#main.dark-mode h2 {
    color: #87CEEB;
    border-bottom: solid 2px white;
}

#main.dark-mode h3 {
    color: #87CEEB;
    border-bottom: solid 2px white;
}

#main.dark-mode h4 {
    color: rgb(255, 103, 255);
    border-bottom: solid 2px white;
}

#main.dark-mode h5 {
    color: rgb(94, 242, 94);
    border-bottom: solid 2px white;
}

#main.dark-mode h6 {
    color: green;
    border-bottom: solid 2px white;
}

#main.dark-mode {
    transition: opacity 1s ease, transform 1s ease;
    background: #002a61;
    color: #fff;
    border: 4px solid #fff;
}

/* Dark Mode - Inverse Highlight Color */
#main.dark-mode ::selection {
    background: #ffffff;
    /* Background color when text is selected in dark mode */
    color: #002a61;
    /* Text color for the selected text in dark mode */
}


/* Adding list indentation and styles for ul and ol */
#main ul,
#main ol {
    padding-left: 1em;
    /* Adds indentation to both unordered and ordered lists */
    margin-left: 1em;
    /* Adjust the margin if needed */
}

/* Ensuring bullets for ul 
#main ul {
    list-style-type: disc; 
}*/

/* Styling the li elements */
#main li {
    list-style-type: disc;
    /* Bullets for unordered list items */
}

/* Additional styling for ordered list items */
#main ol {
    list-style-type: decimal;
    /* Ensures numbers for ordered lists */
}


#main.longform {
    text-align: left;
}