.slack-social__container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}

.slack-social__link {
  background-color: transparent !important;
  /* color: transparent !important; */
}

.slack-social__button {
  padding: 0 10px;
  height: 45px;
  border-radius: 12px;
  background-color: white;
  border: solid #002a61 3px;
  box-shadow: #bdbdbd 0px 2px 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.slack-social__button:hover {
  background-color: #63037966;
}

.slack-social__icon {
  height: 60%;
}

.slack-social__cta {
  margin-left: 8px;
  font-family: "Mattone", Arial, sans-serif;
}

/* DARK MODE */
#slackButton.dark-mode .slack-social__button {
  background-color: white;
  color: #002a61;
  box-shadow: #b7b7b7b7 0px 2px 4px;
}