[submodule "portal"]
	path = portal
	url = https://github.com/juliancoy/OrgPortal.git
[submodule "r8-rowhome"]
	path = r8-rowhome
	url = https://github.com/plotplotplot/r8-rowhome.git
	branch = procedural-expansion
